<style>
  .message-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <h3>Hello, {{name}}</h3>
  <br />

  <p>We received your solicitation to reset your password</p>
  <p>Click on the link below to change you password</p>
  <p>
    <a href="{{link}}">RESET PASSWORD</a>
  </p>
  <br />
  <p>Thanks!</p>
  <p>Netto Team🚀</p>
</div>
